.admin-chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5e00da;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
  }

  .user-list {
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    margin-right: 15px;
  }
  
  .user-list h6 {
    margin-bottom: 10px;
    color: #5e00da;
  }
  
  .user-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .user-list li {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .admin-chat-box {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-bottom: 15px;
  }
  
  .admin-chat-title {
    background-color: #5e00da;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align: center;
    width: 100%;
  }

  .admin-chat-box-content {
    display: flex;
    flex-direction: row;
  }
  

  .admin-chat-box-left-column, .admin-chat-box-right-column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .admin-chat-box-right-column {
    overflow-y: auto;
    max-height: 500px;
  }

  .admin-chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }

  .admin-chat-input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
  }
  
  .admin-chat-input {
    padding: 10px;
    border-radius: 7px;
  }
  
  .admin-chat-input input {
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid #ccc;
  }
  